<footer class="{{ .Site.Params.background_color_class | default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex justify-between">
  <a class="f4 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="{{ .Site.BaseURL }}" >
    &copy; {{ now.Format "2006" }} {{ .Site.Title }}
  </a>
    <div>{{ partial "social-follow.html" . }}</div>
  </div>
</footer>


<!-- customize the theme style -->
<style>
/* heading */
h3 {
	background-color: cadetblue;
	margin-left: -2rem;
	padding-left: 0.5rem;
}
h4 {
	background-color: skyblue;
	margin-left: -1rem;
	padding-left: .5rem;
	box-sizing: content-box;
    width: max-content;
}

/* blockquote */
blockquote {
	background-color:gainsboro;
	border-left: 0.5rem solid skyblue;
	padding: 0.5rem 1rem;
	margin: 0;
	font-style: italic;
}
blockquote > p {
	margin: 0;
}

/* code highlight */
pre > code.hljs {
	font-size: 1rem;
}

/* inline code highlight */
p > code {
	background-color: paleturquoise;
}

/* referral */
.referral {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

/* friends */
</style>

<!-- highlight.js -->
<link href="https://cdn.bootcss.com/highlight.js/9.13.1/styles/solarized-dark.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/highlight.js/9.13.1/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>